body {
    font-family: Tahoma, 'Segoe UI', Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 32px;
}

div {
    display: block;
}

.window {
    height: 150px;
    width: 150px;
    background: #eaf3f8;

}

.nav {
    height: 300px;
    width: 200px;
    background: #eaf3f8;
}

.status {
    /*should be greyed out slightly compared to other text*/
}

footer p {
    color: #A9A9A9;
    text-align: center;
}