body {
    font-family: Tahoma, Verdana, sans-serif;
}

h1 {
    text-align: center;
}



.status {
    /*should be greyed out slightly compared to other text*/
}

footer {
    color: #A9A9A9;
    text-align: center;
}